

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-brand {
  float: left;
  padding: 0px 20px;
  font-size: 18px;
  line-height: 20px;
}
















